{
  "swagger": "2.0",
  "info": {
    "version": "advertising",
    "title": "API:er för att bygga hemsidor med bostadsförsäljningar"
  },
  "host": "connect.maklare.vitec.net",
  "schemes": [
    "https"
  ],
  "paths": {
    "/Advertising/Area/{customerId}": {
      "get": {
        "tags": [
          "AdvertisingArea"
        ],
        "summary": "Hämta områdeslista för hemsida",
        "operationId": "AdvertisingArea_GetList",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Kund-id",
            "required": true,
            "type": "string"
          },
          {
            "name": "criteria.changedAtMinValue",
            "in": "query",
            "description": "Ändringsdatum minvärde",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "criteria.changedAtMaxValue",
            "in": "query",
            "description": "Ändringsdatum maxvärde",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "paging.pageSize",
            "in": "query",
            "description": "Sid-storlek",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "paging.pageIndex",
            "in": "query",
            "description": "Sid-index",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Models.Api.Page`1_AdvertisingAreaListRow"
            }
          }
        }
      }
    },
    "/Advertising/Area/{customerId}/{areaId}": {
      "get": {
        "tags": [
          "AdvertisingArea"
        ],
        "summary": "<p>Hämta område för hemsida.</p>",
        "operationId": "AdvertisingArea_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Kund-id",
            "required": true,
            "type": "string"
          },
          {
            "name": "areaId",
            "in": "path",
            "description": "Områdesid",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Advertising.Services.AdvertisingArea"
            }
          }
        }
      }
    },
    "/Advertising/Association/{customerId}/{associationId}": {
      "get": {
        "tags": [
          "AdvertisingAssociation"
        ],
        "summary": "Hämtar bostadsrättsförening",
        "operationId": "AdvertisingAssociation_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "associationId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Advertising.Models.AdvertisingAssociation"
            }
          }
        }
      }
    },
    "/Advertising/Brand/List/{customerId}": {
      "get": {
        "tags": [
          "AdvertisingBrand"
        ],
        "summary": "<p>Hämta lista av varumärken för hemsida.</p>",
        "operationId": "AdvertisingBrand_GetList",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "criteria.paging.pageSize",
            "in": "query",
            "description": "Sid-storlek",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "criteria.paging.pageIndex",
            "in": "query",
            "description": "Sid-index",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "criteria.changedAtMinValue",
            "in": "query",
            "description": "Ändringsdatum minvärde",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "criteria.changedAtMaxValue",
            "in": "query",
            "description": "Ändringsdatum maxvärde",
            "required": false,
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Models.Api.Page`1_AdvertisingBrand"
            }
          }
        }
      }
    },
    "/Advertising/Brand/{customerId}": {
      "get": {
        "tags": [
          "AdvertisingBrand"
        ],
        "summary": "<p>Hämta varumärke för hemsida.</p>",
        "operationId": "AdvertisingBrand_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Varumärke-id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Advertising.Services.AdvertisingBrand"
            }
          }
        }
      }
    },
    "/Advertising/Estate/{customerId}": {
      "get": {
        "tags": [
          "AdvertisingEstate"
        ],
        "summary": "Hämta bostadslista för publicerade bostäder för hemsida",
        "operationId": "AdvertisingEstate_GetList",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Kund-id",
            "required": true,
            "type": "string"
          },
          {
            "name": "criteria.changedAtMinValue",
            "in": "query",
            "description": "Ändringsdatum minvärde",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "criteria.changedAtMaxValue",
            "in": "query",
            "description": "Ändringsdatum maxvärde",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "criteria.status",
            "in": "query",
            "description": "Status",
            "required": false,
            "type": "string",
            "enum": [
              "Undefined",
              "AssignmentAttempt",
              "AssignmentAccepted",
              "ForSale",
              "Sold",
              "Resting",
              "NoAssignment",
              "AssignmentWithdrawn",
              "ReservedNotForSale",
              "NotForSale",
              "SoldReferenceObject",
              "Coming",
              "Advantage",
              "Booked",
              "SoonForSale",
              "ReadyForRent",
              "TentativelyRented",
              "Rented",
              "AppointedAdmission"
            ]
          },
          {
            "name": "criteria.type",
            "in": "query",
            "description": "Type",
            "required": false,
            "type": "string",
            "enum": [
              "Undefined",
              "House",
              "Cottage",
              "HousingCooperative",
              "Condominium",
              "Farm",
              "Plot",
              "CommercialProperty",
              "Premises",
              "ForeignProperty"
            ]
          },
          {
            "name": "paging.pageSize",
            "in": "query",
            "description": "Sid-storlek",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "paging.pageIndex",
            "in": "query",
            "description": "Sid-index",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Models.Api.Page`1_AdvertisingEstateListRow"
            }
          }
        }
      }
    },
    "/Advertising/Estate/{customerId}/{estateId}": {
      "get": {
        "tags": [
          "AdvertisingEstate"
        ],
        "summary": "<p>Hämta bostad för hemsida.</p>\r\n<p>\r\n  <a href=\"/Help/TermExtend\" target=\"_blank\">Extend API är tillgängligt</a>\r\n</p>",
        "operationId": "AdvertisingEstate_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Kund-id",
            "required": true,
            "type": "string"
          },
          {
            "name": "estateId",
            "in": "path",
            "description": "Bostadsid",
            "required": true,
            "type": "string"
          },
          {
            "name": "extend",
            "in": "query",
            "description": "Utöka hämtningen, \"extensions\" i svaret.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Advertising.Services.AdvertisingEstate"
            }
          }
        }
      }
    },
    "/Advertising/Estate/{customerId}/{estateId}/interest": {
      "post": {
        "tags": [
          "AdvertisingEstate"
        ],
        "summary": "Skickar in en ny intresseanmälan för en kontakt till en bostad. Innan nya personer läggs in i mäklarsystemet, görs alltid en dubblettkontroll.",
        "operationId": "AdvertisingEstate_InterestApplication",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Kund-id",
            "required": true,
            "type": "string"
          },
          {
            "name": "estateId",
            "in": "path",
            "description": "Id för aktuell bostad",
            "required": true,
            "type": "string"
          },
          {
            "name": "application",
            "in": "body",
            "description": "Uppgifter för intresseanmälan",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Advertising.Models.AdvertisingInterestApplication"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/Advertising/Estate/{customerId}/{estateId}/FinalPriceWatched": {
      "post": {
        "tags": [
          "AdvertisingEstate"
        ],
        "summary": "Skickar in en ny bevakning av slutpris för en kontakt till en bostad. Innan nya personer läggs in i mäklarsystemet, görs alltid en dubblettkontroll.",
        "operationId": "AdvertisingEstate_FinalPriceWatched",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Kund-id",
            "required": true,
            "type": "string"
          },
          {
            "name": "estateId",
            "in": "path",
            "description": "Id för aktuell bostad",
            "required": true,
            "type": "string"
          },
          {
            "name": "application",
            "in": "body",
            "description": "Uppgifter för bevakningen",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Advertising.Models.AdvertisingFinalPriceWatchedApplication"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/Advertising/File/{customerId}/{fileId}": {
      "get": {
        "tags": [
          "AdvertisingFile"
        ],
        "summary": "Hämtar filer.",
        "description": "<p>Hämtar fil.</p>\r\n<p>För att kunna hämta en fil så krävs det en giltig API nyckel och ett kundid.\r\n            Det krävs även ett giltigt fil id för att kunna hämta en fil.</p>",
        "operationId": "AdvertisingFile_Get",
        "consumes": [],
        "produces": [
          "application/octet-stream",
          "text/x-base64",
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Kundid",
            "required": true,
            "type": "string"
          },
          {
            "name": "fileId",
            "in": "path",
            "description": "Filid",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "format": "byte",
              "type": "string"
            }
          }
        }
      }
    },
    "/v2/Advertising/Form/{customerId}/Estate/{estateId}": {
      "get": {
        "tags": [
          "AdvertisingForm"
        ],
        "summary": "Hämtar bostadsinformation som behövs för kontaktformulär",
        "operationId": "AdvertisingForm_GetEstate",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Kund-id",
            "required": true,
            "type": "string"
          },
          {
            "name": "estateId",
            "in": "path",
            "description": "Id för aktuell bostad",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Advertising.Services.AdvertisingFormContactEstate"
            }
          }
        }
      }
    },
    "/v2/Advertising/Form/{customerId}/Estate/{estateId}/Viewing/Attend": {
      "post": {
        "tags": [
          "AdvertisingForm"
        ],
        "summary": "Lägg till en visningsdeltagare",
        "operationId": "AdvertisingForm_AttendViewing",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Kund-id",
            "required": true,
            "type": "string"
          },
          {
            "name": "estateId",
            "in": "path",
            "description": "Bostadsid",
            "required": true,
            "type": "string"
          },
          {
            "name": "application",
            "in": "body",
            "description": "Anmälningsuppgifter",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Advertising.Services.ViewingAttendeeApplication"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Advertising.Services.AttendViewingResult"
            }
          }
        }
      }
    },
    "/v2/Advertising/Form/{customerId}/Valuation": {
      "post": {
        "tags": [
          "AdvertisingForm"
        ],
        "summary": "Värderingsförfrågan",
        "operationId": "AdvertisingForm_ValuationApplication",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Kund-id",
            "required": true,
            "type": "string"
          },
          {
            "name": "application",
            "in": "body",
            "description": "Anmälningsuppgifter",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Advertising.Services.ValuationApplication"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Advertising.Services.ValuationResult"
            }
          }
        }
      }
    },
    "/Advertising/Image/{customerId}/{imageId}": {
      "get": {
        "tags": [
          "AdvertisingImage"
        ],
        "summary": "Hämtar bilder.",
        "description": "<p>Hämtar bild.</p>\r\n<p>För att kunna hämta en bild så krävs det en giltig API nyckel och ett kundid.\r\n            Det krävs även ett giltig bild id för att kunna hämta en bild.</p>\r\n<p>\r\n  <a href=\"/Help/ImageApi\" target=\"_blank\">Det finns dessutom extra parametrar för t ex skalning och beskärning av bilden,\r\n            mer information finns här</a>\r\n</p>\r\n<p>OBS! Om inga parametrar för bild API:et används, så kommer ni att få bilden exakt som bilden ligger lagrad i datakällan.</p>",
        "operationId": "AdvertisingImage_Get",
        "consumes": [],
        "produces": [
          "application/octet-stream",
          "text/x-base64",
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Kundid",
            "required": true,
            "type": "string"
          },
          {
            "name": "imageId",
            "in": "path",
            "description": "Bildid",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "format": "byte",
              "type": "string"
            }
          }
        }
      }
    },
    "/Advertising/Message/{customerId}/Estate/{estateId}/Viewing/Attendee/{contactId}/OptOut": {
      "put": {
        "tags": [
          "AdvertisingMessage"
        ],
        "summary": "Avbokar en kontakt från en visning",
        "operationId": "AdvertisingMessage_ViewingAttendeeOptOut",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Kundid",
            "required": true,
            "type": "string"
          },
          {
            "name": "estateId",
            "in": "path",
            "description": "Id för bostaden som visningen gäller",
            "required": true,
            "type": "string"
          },
          {
            "name": "contactId",
            "in": "path",
            "description": "Id för kontakten som ska avbokas",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/Advertising/Office/{customerId}": {
      "get": {
        "tags": [
          "AdvertisingOffice"
        ],
        "summary": "Hämta kontorslista för hemsida",
        "operationId": "AdvertisingOffice_GetList",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Kund-id",
            "required": true,
            "type": "string"
          },
          {
            "name": "criteria.changedAtMinValue",
            "in": "query",
            "description": "Ändringsdatum minvärde",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "criteria.changedAtMaxValue",
            "in": "query",
            "description": "Ändringsdatum maxvärde",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "paging.pageSize",
            "in": "query",
            "description": "Sid-storlek",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "paging.pageIndex",
            "in": "query",
            "description": "Sid-index",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Models.Api.Page`1_AdvertisingOfficeListRow"
            }
          }
        }
      }
    },
    "/Advertising/Office/{customerId}/{officeId}": {
      "get": {
        "tags": [
          "AdvertisingOffice"
        ],
        "summary": "<p>Hämta kontor för hemsida.</p>",
        "operationId": "AdvertisingOffice_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Kund-id",
            "required": true,
            "type": "string"
          },
          {
            "name": "officeId",
            "in": "path",
            "description": "Kontorsid",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Advertising.Services.AdvertisingOffice"
            }
          }
        }
      }
    },
    "/Advertising/Project/{customerId}": {
      "get": {
        "tags": [
          "AdvertisingProject"
        ],
        "summary": "Hämta projektlista för publicerade projekt för hemsida",
        "operationId": "AdvertisingProject_GetList",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Kund-id",
            "required": true,
            "type": "string"
          },
          {
            "name": "criteria.changedAtMinValue",
            "in": "query",
            "description": "Ändringsdatum minvärde",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "criteria.changedAtMaxValue",
            "in": "query",
            "description": "Ändringsdatum maxvärde",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "criteria.status",
            "in": "query",
            "description": "Status",
            "required": false,
            "type": "string",
            "enum": [
              "Undefined",
              "AssignmentAttempt",
              "AssignmentAccepted",
              "Resting",
              "NoAssignment",
              "Coming",
              "Running",
              "Soldout",
              "SoldoutReferenceProject"
            ]
          },
          {
            "name": "paging.pageSize",
            "in": "query",
            "description": "Sid-storlek",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "paging.pageIndex",
            "in": "query",
            "description": "Sid-index",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Models.Api.Page`1_AdvertisingProjectListRow"
            }
          }
        }
      }
    },
    "/Advertising/Project/{customerId}/{projectId}": {
      "get": {
        "tags": [
          "AdvertisingProject"
        ],
        "summary": "<p>Hämta projekt för hemsida.</p>\r\n<p>\r\n  <a href=\"/Help/TermExtend\" target=\"_blank\">Extend API är tillgängligt</a>\r\n</p>",
        "operationId": "AdvertisingProject_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Kund-id",
            "required": true,
            "type": "string"
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "projektid",
            "required": true,
            "type": "string"
          },
          {
            "name": "extend",
            "in": "query",
            "description": "Utöka hämtningen, \"extensions\" i svaret.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Advertising.Services.AdvertisingProject"
            }
          }
        }
      }
    },
    "/Advertising/User/{customerId}": {
      "get": {
        "tags": [
          "AdvertisingUser"
        ],
        "summary": "Hämta användarlista för hemsida",
        "operationId": "AdvertisingUser_GetList",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Kund-id",
            "required": true,
            "type": "string"
          },
          {
            "name": "criteria.changedAtMinValue",
            "in": "query",
            "description": "Ändringsdatum minvärde",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "criteria.changedAtMaxValue",
            "in": "query",
            "description": "Ändringsdatum maxvärde",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "paging.pageSize",
            "in": "query",
            "description": "Sid-storlek",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "paging.pageIndex",
            "in": "query",
            "description": "Sid-index",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Models.Api.Page`1_AdvertisingUserListRow"
            }
          }
        }
      }
    },
    "/Advertising/User/{customerId}/{userId}": {
      "get": {
        "tags": [
          "AdvertisingUser"
        ],
        "summary": "<p>Hämta användare för hemsida.</p>",
        "operationId": "AdvertisingUser_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Kund-id",
            "required": true,
            "type": "string"
          },
          {
            "name": "userId",
            "in": "path",
            "description": "Användare-id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Advertising.Services.AdvertisingUser"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Advertising.Services.AdvertisingAreaCriteria": {
      "description": "Kriterier",
      "type": "object",
      "properties": {
        "changedAtMinValue": {
          "format": "date-time",
          "description": "Ändringsdatum minvärde",
          "type": "string"
        },
        "changedAtMaxValue": {
          "format": "date-time",
          "description": "Ändringsdatum maxvärde",
          "type": "string"
        }
      }
    },
    "Models.Api.Paging": {
      "description": "Sidhantering",
      "type": "object",
      "properties": {
        "pageSize": {
          "format": "int32",
          "description": "Sid-storlek",
          "type": "integer"
        },
        "pageIndex": {
          "format": "int32",
          "description": "Sid-index",
          "type": "integer"
        }
      }
    },
    "Models.Api.Page`1_AdvertisingAreaListRow": {
      "description": "Sida",
      "type": "object",
      "properties": {
        "index": {
          "format": "int32",
          "description": "Index",
          "type": "integer"
        },
        "count": {
          "format": "int32",
          "description": "Antal sidor",
          "type": "integer"
        },
        "totalRowCount": {
          "format": "int32",
          "description": "Totalt antal",
          "type": "integer"
        },
        "rows": {
          "description": "Resultat",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Advertising.Services.AdvertisingAreaListRow"
          }
        }
      }
    },
    "Advertising.Services.AdvertisingAreaListRow": {
      "description": "Områdesrad",
      "type": "object",
      "properties": {
        "id": {
          "description": "Id",
          "type": "string"
        },
        "customerId": {
          "description": "Kund-id",
          "type": "string"
        },
        "changedAt": {
          "format": "date-time",
          "description": "Ändringsdatum",
          "type": "string"
        }
      }
    },
    "Advertising.Services.AdvertisingArea": {
      "description": "Område för annonsering på hemsida",
      "type": "object",
      "properties": {
        "id": {
          "description": "Id",
          "type": "string"
        },
        "name": {
          "description": "Namn",
          "type": "string"
        },
        "countyMunicipalityCode": {
          "description": "LKF kod",
          "type": "string"
        },
        "coordinates": {
          "description": "Områdets koordinater i formatet GeoJSON Multipolygon (longitud, latitud)",
          "type": "array",
          "items": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "array",
                "items": {
                  "format": "double",
                  "type": "number"
                }
              }
            }
          }
        },
        "changedAt": {
          "format": "date-time",
          "description": "När området senast ändrades",
          "type": "string"
        },
        "office": {
          "$ref": "#/definitions/Advertising.Services.AdvertisingOfficeReference",
          "description": "Kontor"
        },
        "surroundings": {
          "$ref": "#/definitions/Advertising.Services.AdvertisingSurroundings",
          "description": "Närområde"
        },
        "images": {
          "description": "Bilder",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Advertising.Services.AdvertisingImage"
          }
        }
      }
    },
    "Advertising.Services.AdvertisingOfficeReference": {
      "description": "Kontorsreferens",
      "type": "object",
      "properties": {
        "id": {
          "description": "Kontorsid",
          "type": "string"
        },
        "customerId": {
          "description": "Kund-id",
          "type": "string"
        }
      }
    },
    "Advertising.Services.AdvertisingSurroundings": {
      "description": "Närområde",
      "type": "object",
      "properties": {
        "service": {
          "description": "Närservice",
          "type": "string"
        },
        "communication": {
          "description": "Kommunikation",
          "type": "string"
        },
        "area": {
          "description": "Allmänt om området",
          "type": "string"
        },
        "parking": {
          "description": "Parkering",
          "type": "string"
        },
        "other": {
          "description": "Övrigt",
          "type": "string"
        }
      }
    },
    "Advertising.Services.AdvertisingImage": {
      "description": "Bild",
      "type": "object",
      "properties": {
        "id": {
          "description": "Id",
          "type": "string"
        },
        "dataChangedAt": {
          "format": "date-time",
          "description": "När bilddata förändrades senast",
          "type": "string"
        },
        "description": {
          "description": "Beskrivande text",
          "type": "string"
        },
        "name": {
          "description": "Rubrik/Namn",
          "type": "string"
        },
        "category": {
          "$ref": "#/definitions/Advertising.Services.AdvertisingImageCategory",
          "description": "Kategori"
        },
        "extension": {
          "description": "Filändelse",
          "type": "string"
        },
        "cdnReferences": {
          "description": "CDN referenser",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Api.Connect.CdnImageReference"
          }
        }
      }
    },
    "Advertising.Services.AdvertisingImageCategory": {
      "description": "<p>Bildkategori</p>\r\n<p>\r\n  <a href=\"/Help/EnumerationReference?modelName=Api_ImageCategory\" target=\"_blank\">Se möjliga värden på id</a>\r\n</p>",
      "type": "object",
      "properties": {
        "id": {
          "description": "Id",
          "type": "string"
        },
        "name": {
          "description": "Namn",
          "type": "string"
        }
      }
    },
    "Api.Connect.CdnImageReference": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "Advertising.Models.AdvertisingAssociation": {
      "description": "Bostadsrättsförening",
      "type": "object",
      "properties": {
        "id": {
          "description": "Id",
          "type": "string"
        },
        "changedAt": {
          "format": "date-time",
          "description": "När föreningen senast ändrades",
          "type": "string"
        },
        "name": {
          "description": "Föreningsnamn",
          "type": "string"
        },
        "corporateNumber": {
          "description": "Organisationsnummer",
          "type": "string"
        },
        "organizationalForm": {
          "description": "Organisationsform",
          "enum": [
            "TenantOwnedAssociation",
            "EconomicAssociation",
            "PropertyStockCompany"
          ],
          "type": "string"
        },
        "email": {
          "description": "Epostadress",
          "type": "string"
        },
        "homePage": {
          "description": "Hemsida",
          "type": "string"
        },
        "genuineAssociation": {
          "description": "Äkta/oäkta bostadsrättsförening",
          "enum": [
            "Undetermined",
            "PrivateHousingCompany",
            "NotPrivateHousingCompany"
          ],
          "type": "string"
        },
        "numberOfApartments": {
          "format": "int32",
          "description": "Antal lägenheter",
          "type": "integer"
        },
        "numberOfRentalApartments": {
          "format": "int32",
          "description": "Varav hyresrätter",
          "type": "integer"
        },
        "numberOfPremises": {
          "format": "int32",
          "description": "Antal lokaler",
          "type": "integer"
        },
        "descriptions": {
          "$ref": "#/definitions/Association.Models.AssociationDescriptions",
          "description": "Beskrivningar"
        },
        "economy": {
          "$ref": "#/definitions/Association.Models.AssociationEconomy",
          "description": "Ekonomi"
        },
        "publicContact": {
          "$ref": "#/definitions/Advertising.Models.AssociationContact",
          "description": "Kontaktperson"
        },
        "documents": {
          "description": "Annonserade dokument",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Common.Estate.Document"
          }
        }
      }
    },
    "Association.Models.AssociationDescriptions": {
      "description": "Förening - Beskrivningar",
      "type": "object",
      "properties": {
        "generalAboutAssociation": {
          "description": "Allmänt om föreningen",
          "type": "string"
        },
        "renovations": {
          "description": "Renoveringar, utförda och planerade",
          "type": "string"
        },
        "parking": {
          "description": "Parkering",
          "type": "string"
        },
        "tvAndBroadband": {
          "description": "Tv och bredband",
          "type": "string"
        },
        "courtyard": {
          "description": "Gårdsplats",
          "type": "string"
        },
        "sharedSpaces": {
          "description": "Gemensamma utrymmen",
          "type": "string"
        },
        "insurance": {
          "description": "Försäkring",
          "type": "string"
        },
        "other": {
          "description": "Övrigt",
          "type": "string"
        }
      }
    },
    "Association.Models.AssociationEconomy": {
      "description": "Förening - Ekonomi",
      "type": "object",
      "properties": {
        "monthlyFeeInformation": {
          "description": "Information om månadsavgift",
          "type": "string"
        },
        "finances": {
          "description": "Föreningens ekonomi och planerade förändringar",
          "type": "string"
        },
        "sublettingPolicy": {
          "description": "Andrahandsuthyrningspolicy",
          "type": "string"
        },
        "theAssociationOwnTheGround": {
          "description": "Äger föreningen marken",
          "type": "string"
        },
        "transferFee": {
          "format": "int32",
          "description": "Överlåtelseavgift",
          "type": "integer"
        },
        "transferFeePaidBy": {
          "description": "Överlåtelseavgift betalas av",
          "enum": [
            "Undetermined",
            "Seller",
            "Buyer"
          ],
          "type": "string"
        },
        "pledgeFee": {
          "format": "int32",
          "description": "Pantsättningsavgift",
          "type": "integer"
        },
        "allowLegalPersonAsBuyer": {
          "description": "Tillåter föreningen juridisk person som köpare",
          "enum": [
            "Undetermined",
            "Yes",
            "No"
          ],
          "type": "string"
        },
        "allowsSharedOwnershipInfo": {
          "description": "Föreningen tillåter delat ägande",
          "type": "string"
        }
      }
    },
    "Advertising.Models.AssociationContact": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Namn",
          "type": "string"
        },
        "cellPhone": {
          "description": "Mobiltelefon",
          "type": "string"
        },
        "otherPhone": {
          "description": "Övrigt telefonnummer",
          "type": "string"
        },
        "email": {
          "description": "Email",
          "type": "string"
        }
      }
    },
    "Common.Estate.Document": {
      "description": "Ett dokumnet",
      "type": "object",
      "properties": {
        "name": {
          "description": "Namn",
          "type": "string"
        },
        "id": {
          "description": "Id",
          "type": "string"
        },
        "extension": {
          "description": "Filtyp",
          "type": "string"
        },
        "url": {
          "description": "Filurl",
          "type": "string"
        },
        "dateChangedData": {
          "format": "date-time",
          "description": "Ändringsdatum",
          "type": "string"
        },
        "category": {
          "description": "Dokumentkategori",
          "type": "string"
        }
      }
    },
    "Advertising.Services.AdvertisingBrandCriteria": {
      "description": "Kriterie",
      "type": "object",
      "properties": {
        "paging": {
          "$ref": "#/definitions/Models.Api.Paging",
          "description": "Sidhantering"
        },
        "changedAtMinValue": {
          "format": "date-time",
          "description": "Ändringsdatum minvärde",
          "type": "string"
        },
        "changedAtMaxValue": {
          "format": "date-time",
          "description": "Ändringsdatum maxvärde",
          "type": "string"
        }
      }
    },
    "Models.Api.Page`1_AdvertisingBrand": {
      "description": "Sida",
      "type": "object",
      "properties": {
        "index": {
          "format": "int32",
          "description": "Index",
          "type": "integer"
        },
        "count": {
          "format": "int32",
          "description": "Antal sidor",
          "type": "integer"
        },
        "totalRowCount": {
          "format": "int32",
          "description": "Totalt antal",
          "type": "integer"
        },
        "rows": {
          "description": "Resultat",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Advertising.Services.AdvertisingBrand"
          }
        }
      }
    },
    "Advertising.Services.AdvertisingBrand": {
      "description": "Varumärke",
      "type": "object",
      "properties": {
        "id": {
          "description": "Id",
          "type": "string"
        },
        "name": {
          "description": "Namn",
          "type": "string"
        },
        "createdAt": {
          "format": "date-time",
          "description": "Skapad",
          "type": "string"
        },
        "changedAt": {
          "format": "date-time",
          "description": "Senast ändrad",
          "type": "string"
        },
        "segments": {
          "description": "Del av varumärke",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Advertising.Services.AdvertisingBrandSegment"
          }
        }
      }
    },
    "Advertising.Services.AdvertisingBrandSegment": {
      "description": "Kundmiljö",
      "type": "object",
      "properties": {
        "id": {
          "description": "Id",
          "type": "string"
        },
        "name": {
          "description": "Namn",
          "type": "string"
        },
        "createdAt": {
          "format": "date-time",
          "description": "Skapad",
          "type": "string"
        },
        "changedAt": {
          "format": "date-time",
          "description": "Senast ändrad",
          "type": "string"
        }
      }
    },
    "Advertising.Services.AdvertisingEstateCriteria": {
      "description": "Kriterier",
      "type": "object",
      "properties": {
        "changedAtMinValue": {
          "format": "date-time",
          "description": "Ändringsdatum minvärde",
          "type": "string"
        },
        "changedAtMaxValue": {
          "format": "date-time",
          "description": "Ändringsdatum maxvärde",
          "type": "string"
        },
        "status": {
          "description": "Status",
          "enum": [
            "Undefined",
            "AssignmentAttempt",
            "AssignmentAccepted",
            "ForSale",
            "Sold",
            "Resting",
            "NoAssignment",
            "AssignmentWithdrawn",
            "ReservedNotForSale",
            "NotForSale",
            "SoldReferenceObject",
            "Coming",
            "Advantage",
            "Booked",
            "SoonForSale",
            "ReadyForRent",
            "TentativelyRented",
            "Rented",
            "AppointedAdmission"
          ],
          "type": "string"
        },
        "type": {
          "description": "Type",
          "enum": [
            "Undefined",
            "House",
            "Cottage",
            "HousingCooperative",
            "Condominium",
            "Farm",
            "Plot",
            "CommercialProperty",
            "Premises",
            "ForeignProperty"
          ],
          "type": "string"
        }
      }
    },
    "Models.Api.Page`1_AdvertisingEstateListRow": {
      "description": "Sida",
      "type": "object",
      "properties": {
        "index": {
          "format": "int32",
          "description": "Index",
          "type": "integer"
        },
        "count": {
          "format": "int32",
          "description": "Antal sidor",
          "type": "integer"
        },
        "totalRowCount": {
          "format": "int32",
          "description": "Totalt antal",
          "type": "integer"
        },
        "rows": {
          "description": "Resultat",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Advertising.Services.AdvertisingEstateListRow"
          }
        }
      }
    },
    "Advertising.Services.AdvertisingEstateListRow": {
      "description": "Bostadsrad",
      "type": "object",
      "properties": {
        "id": {
          "description": "Id",
          "type": "string"
        },
        "customerId": {
          "description": "Kund-id",
          "type": "string"
        },
        "changedAt": {
          "format": "date-time",
          "description": "Ändringsdatum",
          "type": "string"
        }
      }
    },
    "Advertising.Services.AdvertisingEstate": {
      "description": "Bostad för annonsering på hemsida",
      "type": "object",
      "properties": {
        "id": {
          "description": "Bostadens id",
          "type": "string"
        },
        "referenceId": {
          "description": "Objektnummer",
          "type": "string"
        },
        "status": {
          "$ref": "#/definitions/Advertising.Services.AdvertisingSaleStatus",
          "description": "Status på försäljningen/uthyrningen."
        },
        "office": {
          "$ref": "#/definitions/Advertising.Services.AdvertisingOfficeReference",
          "description": "Kontorstillhörighet"
        },
        "primaryAgentId": {
          "description": "Id på huvudhandläggare",
          "type": "string"
        },
        "secondaryAgentId": {
          "description": "Id på andrahandläggare",
          "type": "string"
        },
        "projectId": {
          "description": "Projektid om bostaden ingår i ett projekt",
          "type": "string"
        },
        "address": {
          "$ref": "#/definitions/Advertising.Services.AdvertisingAddress",
          "description": "Adress och geografiska uppgifter"
        },
        "sale": {
          "$ref": "#/definitions/Advertising.Services.AdvertisingSale",
          "description": "Försäljningen"
        },
        "surroundings": {
          "$ref": "#/definitions/Advertising.Services.AdvertisingSurroundings",
          "description": "Närområde"
        },
        "changedAt": {
          "format": "date-time",
          "description": "När bostaden senast ändrades",
          "type": "string"
        },
        "files": {
          "description": "Filer",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Advertising.Services.AdvertisingFile"
          }
        },
        "viewings": {
          "description": "Visningar",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Advertising.Services.AdvertisingViewing"
          }
        },
        "images": {
          "description": "Bilder",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Advertising.Services.AdvertisingImage"
          }
        },
        "links": {
          "description": "Länkar",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Advertising.Services.AdvertisingLink"
          }
        },
        "type": {
          "$ref": "#/definitions/Advertising.Services.AdvertisingType",
          "description": "Typ"
        },
        "subtype": {
          "$ref": "#/definitions/Advertising.Services.AdvertisingSubType",
          "description": "Sökbegrepp"
        },
        "tenure": {
          "$ref": "#/definitions/Advertising.Services.AdvertisingTenure",
          "description": "Upplåtelseform"
        },
        "tags": {
          "description": "Taggningar (T ex VIP, Exklusiv)",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Advertising.Services.AdvertisingEstateTag"
          }
        },
        "buildings": {
          "description": "Byggnader",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Advertising.Services.AdvertisingBuilding"
          }
        },
        "exterior": {
          "$ref": "#/definitions/Advertising.Services.AdvertisingExterior",
          "description": "Exteriör"
        },
        "taxation": {
          "$ref": "#/definitions/Advertising.Services.AdvertisingTaxation",
          "description": "Taxeringsvärden"
        },
        "fees": {
          "$ref": "#/definitions/Advertising.Services.AdvertisingFees",
          "description": "Utgifter"
        },
        "price": {
          "$ref": "#/definitions/Advertising.Services.AdvertisingPrice",
          "description": "Prisuppgift"
        },
        "electricity": {
          "$ref": "#/definitions/Advertising.Services.AdvertisingElectricity",
          "description": "Elektricitet"
        },
        "bidding": {
          "$ref": "#/definitions/Advertising.Services.AdvertisingBidding",
          "description": "Budgivning"
        },
        "marketing": {
          "$ref": "#/definitions/Advertising.Services.AdvertisingMarketing",
          "description": "Marknadsföring"
        },
        "pledges": {
          "description": "Pantbrev",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Advertising.Services.AdvertisingPledge"
          }
        },
        "enrollments": {
          "$ref": "#/definitions/Advertising.Services.AdvertisingEnrollments",
          "description": "Inskrivningar"
        },
        "extensions": {
          "$ref": "#/definitions/Advertising.Services.AdvertisingEstateExtensions",
          "description": "Utöka hämtningen via inparametrar"
        },
        "currency": {
          "description": "Valutan för alla avgifter, priser etc.",
          "type": "string"
        },
        "inspection": {
          "$ref": "#/definitions/Advertising.Services.AdvertisingEstateInspection",
          "description": "Besiktning"
        },
        "expenses": {
          "$ref": "#/definitions/Advertising.Services.AdvertisingEstateExpenses",
          "description": "Utgifter"
        }
      }
    },
    "Advertising.Services.AdvertisingSaleStatus": {
      "description": "<p>Försäljningsstatus</p>\r\n<p>\r\n  <a href=\"/Help/EnumerationReference?modelName=Api_EstateStatus\" target=\"_blank\">Se möjliga värden på id</a>\r\n</p>",
      "type": "object",
      "properties": {
        "id": {
          "description": "Id",
          "type": "string"
        },
        "name": {
          "description": "Namn",
          "type": "string"
        }
      }
    },
    "Advertising.Services.AdvertisingAddress": {
      "description": "Adress och geografiska uppgifter",
      "type": "object",
      "properties": {
        "streetAddress": {
          "description": "Gatuadress",
          "type": "string"
        },
        "zipCode": {
          "$ref": "#/definitions/Advertising.Services.AdvertisingZipCode",
          "description": "Postnummer"
        },
        "postalTown": {
          "description": "Ort",
          "type": "string"
        },
        "area": {
          "$ref": "#/definitions/Advertising.Services.AdvertisingAddressArea",
          "description": "Område"
        },
        "municipality": {
          "description": "Kommun",
          "type": "string"
        },
        "countryCode": {
          "description": "Landskod",
          "type": "string"
        },
        "countyMunicipalityCode": {
          "description": "LKF kod",
          "type": "string"
        },
        "wgs84Coordinate": {
          "$ref": "#/definitions/Models.Api.Wgs84Coordinate",
          "description": "Wgs84 koordinat"
        },
        "directions": {
          "description": "Vägbeskrivning",
          "type": "string"
        }
      }
    },
    "Advertising.Services.AdvertisingSale": {
      "description": "Texter",
      "type": "object",
      "properties": {
        "shortDescription": {
          "description": "Kort säljande beskrivning",
          "type": "string"
        },
        "description": {
          "description": "Säljande beskrivning",
          "type": "string"
        },
        "phrase": {
          "description": "Säljfras",
          "type": "string"
        },
        "heading": {
          "description": "Säljrubrik",
          "type": "string"
        },
        "otherInformation": {
          "description": "Övrig information",
          "type": "string"
        },
        "possessionEstimation": {
          "description": "Möjligt tillträdesdatum",
          "type": "string"
        },
        "possessionAt": {
          "format": "date-time",
          "description": "Tillträdesdatum",
          "type": "string"
        },
        "contractDate": {
          "format": "date-time",
          "description": "Kontraktsdatum",
          "type": "string"
        },
        "assignmentDate": {
          "format": "date-time",
          "description": "Uppdragsdatum",
          "type": "string"
        }
      }
    },
    "Advertising.Services.AdvertisingFile": {
      "description": "Fil",
      "type": "object",
      "properties": {
        "id": {
          "description": "Filid",
          "type": "string"
        },
        "name": {
          "description": "Namn",
          "type": "string"
        },
        "extension": {
          "description": "Filändelse",
          "type": "string"
        },
        "dataChangedAt": {
          "format": "date-time",
          "description": "Ändringsdatum",
          "type": "string"
        }
      }
    },
    "Advertising.Services.AdvertisingViewing": {
      "description": "Visning",
      "type": "object",
      "properties": {
        "id": {
          "description": "Visningsid",
          "type": "string"
        },
        "startsAt": {
          "format": "date-time",
          "description": "När visningen startar",
          "type": "string"
        },
        "endsAt": {
          "format": "date-time",
          "description": "När visningen slutar",
          "type": "string"
        },
        "comment": {
          "description": "Kommentar",
          "type": "string"
        },
        "isDigital": {
          "description": "Digital visning",
          "type": "boolean"
        },
        "isSelfRegistrationEnabled": {
          "description": "Om kunder ska kunna boka in sig själva",
          "type": "boolean"
        },
        "isProjectViewing": {
          "description": "Projektvisning",
          "type": "boolean"
        }
      }
    },
    "Advertising.Services.AdvertisingLink": {
      "description": "Länkar",
      "type": "object",
      "properties": {
        "name": {
          "description": "Namn",
          "type": "string"
        },
        "category": {
          "$ref": "#/definitions/Advertising.Services.AdvertisingLinkCategory",
          "description": "Kategori"
        },
        "url": {
          "description": "URL",
          "type": "string"
        }
      }
    },
    "Advertising.Services.AdvertisingType": {
      "description": "<p>Bostadens typ</p>\r\n<p>\r\n  <a href=\"/Help/EnumerationReference?modelName=Api_EstateClassType\" target=\"_blank\">Se möjliga värden på id</a>\r\n</p>",
      "type": "object",
      "properties": {
        "id": {
          "description": "Id",
          "type": "string"
        },
        "name": {
          "description": "Namn",
          "type": "string"
        }
      }
    },
    "Advertising.Services.AdvertisingSubType": {
      "description": "<p>Sökbegrepp</p>\r\n<p>\r\n  <a href=\"/Help/EnumerationReference?modelName=Api_EstateSubType\" target=\"_blank\">Se möjliga värden på id</a>\r\n</p>",
      "type": "object",
      "properties": {
        "id": {
          "description": "Id",
          "type": "string"
        },
        "name": {
          "description": "Namn",
          "type": "string"
        }
      }
    },
    "Advertising.Services.AdvertisingTenure": {
      "description": "<p>Upplåtelseform</p>\r\n<p>\r\n  <a href=\"/Help/EnumerationReference?modelName=Api_EstateTenure\" target=\"_blank\">Se möjliga värden på id</a>\r\n</p>",
      "type": "object",
      "properties": {
        "id": {
          "description": "Id",
          "type": "string"
        },
        "name": {
          "description": "Namn",
          "type": "string"
        }
      }
    },
    "Advertising.Services.AdvertisingEstateTag": {
      "description": "Tagg (T ex VIP, Exklusiv)",
      "type": "object",
      "properties": {
        "type": {
          "$ref": "#/definitions/Advertising.Services.AdvertisingEstateTagType",
          "description": "Typ av tagg"
        },
        "names": {
          "description": "taggnamn",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Advertising.Services.AdvertisingBuilding": {
      "description": "Byggnadsinformation",
      "type": "object",
      "properties": {
        "name": {
          "description": "Namn på byggnad",
          "type": "string"
        },
        "type": {
          "description": "Typ av byggnad",
          "type": "string"
        },
        "numberOfRooms": {
          "format": "double",
          "description": "Antal rum",
          "type": "number"
        },
        "bedrooms": {
          "$ref": "#/definitions/Advertising.Services.AdvertisingBuildingBedrooms",
          "description": "Sovrum"
        },
        "numberOfBathRooms": {
          "format": "double",
          "description": "Antal badrum",
          "type": "number"
        },
        "description": {
          "description": "Beskrivning",
          "type": "string"
        },
        "interior": {
          "description": "Interiör",
          "type": "string"
        },
        "otherInformation": {
          "description": "Övrig information",
          "type": "string"
        },
        "yearBuilt": {
          "$ref": "#/definitions/Models.Api.Year",
          "description": "Byggår"
        },
        "ventilation": {
          "$ref": "#/definitions/Advertising.Services.AdvertisingBuildingVentilation",
          "description": "Ventilation"
        },
        "architecture": {
          "description": "Arkitektur egenskaper",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Advertising.Services.AdvertisingBuildingArchitecture"
          }
        },
        "renovation": {
          "$ref": "#/definitions/Advertising.Services.AdvertisingBuildingRenovation",
          "description": "Renoveringar"
        },
        "elevator": {
          "$ref": "#/definitions/Advertising.Services.AdvertisingBuildingElevator",
          "description": "Hiss"
        },
        "floor": {
          "$ref": "#/definitions/Advertising.Services.AdvertisingBuildingFloor",
          "description": "Våning"
        },
        "services": {
          "description": "Anslutna tjänster (Tv, bredband)",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Advertising.Services.AdvertisingBuildingService"
          }
        },
        "rooms": {
          "description": "Rum",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Advertising.Services.AdvertisingBuildingRoom"
          }
        },
        "energyDeclaration": {
          "$ref": "#/definitions/Advertising.Services.AdvertisingEnergyDeclaration",
          "description": "Energideklaration"
        },
        "plot": {
          "$ref": "#/definitions/Advertising.Services.AdvertisingBuildingPlot",
          "description": "Tomt knuten till byggnaden"
        },
        "exterior": {
          "description": "Exteriör",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Advertising.Services.AdvertisingExteriorEntry"
          }
        },
        "expenses": {
          "$ref": "#/definitions/Advertising.Services.AdvertisingBuildingExpenses",
          "description": "Utgifter"
        },
        "area": {
          "$ref": "#/definitions/Advertising.Services.AdvertisingBuildingArea",
          "description": "Area-uppgifter"
        },
        "electricity": {
          "$ref": "#/definitions/Advertising.Services.AdvertisingElectricity",
          "description": "Eluppgifter"
        },
        "compiledRoomList": {
          "description": "Rumlista som fritext",
          "type": "string"
        }
      }
    },
    "Advertising.Services.AdvertisingExterior": {
      "description": "Exteriör",
      "type": "object",
      "properties": {
        "buildingsDescription": {
          "description": "Övriga byggnader",
          "type": "string"
        },
        "buildingPermission": {
          "description": "Bygglov",
          "type": "string"
        },
        "entries": {
          "description": "Exteriör egenskaper (Balkong, uteplats etc)",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Advertising.Services.AdvertisingExteriorEntry"
          }
        },
        "plot": {
          "$ref": "#/definitions/Advertising.Services.AdvertisingExteriorPlot",
          "description": "Tomt"
        }
      }
    },
    "Advertising.Services.AdvertisingTaxation": {
      "description": "Taxeringsinformation",
      "type": "object",
      "properties": {
        "isPreliminary": {
          "description": "Är preliminära uppgifter",
          "type": "boolean"
        },
        "propertyDesignations": {
          "description": "Fastighetsbeteckning",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "buildingValue": {
          "format": "double",
          "description": "Taxeringsvärde byggnad",
          "type": "number"
        },
        "landValue": {
          "format": "double",
          "description": "Taxeringsvärde mark",
          "type": "number"
        },
        "totalValue": {
          "format": "double",
          "description": "Taxeringsvärde totalt",
          "type": "number"
        },
        "taxFee": {
          "format": "double",
          "description": "Skatt/avgift",
          "type": "number"
        },
        "units": {
          "description": "Taxeringsenheter",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Advertising.Services.AdvertisingTaxationUnit"
          }
        }
      }
    },
    "Advertising.Services.AdvertisingFees": {
      "description": "Utgifter",
      "type": "object",
      "properties": {
        "recurring": {
          "$ref": "#/definitions/Advertising.Services.AdvertisingRecurringFee",
          "description": "Återkommande avgift (Månadshyra, årsavgift)"
        },
        "leasehold": {
          "$ref": "#/definitions/Advertising.Services.AdvertisingLeasehold",
          "description": "Tomträtt"
        },
        "lease": {
          "$ref": "#/definitions/Advertising.Services.AdvertisingLease",
          "description": "Arrende"
        }
      }
    },
    "Advertising.Services.AdvertisingPrice": {
      "description": "Prisuppgift",
      "type": "object",
      "properties": {
        "startingPrice": {
          "format": "double",
          "description": "Utgångspris",
          "type": "number"
        },
        "finalPrice": {
          "format": "double",
          "description": "Slutpris",
          "type": "number"
        },
        "startingPriceInOtherCurrency": {
          "$ref": "#/definitions/Models.Api.MoneyValue",
          "description": "Utgångspris i annan valuta"
        },
        "text": {
          "description": "Text",
          "type": "string"
        }
      }
    },
    "Advertising.Services.AdvertisingElectricity": {
      "description": "Elektricitet",
      "type": "object",
      "properties": {
        "company": {
          "description": "Nätbolag",
          "type": "string"
        },
        "distributor": {
          "description": "Leverantör",
          "type": "string"
        },
        "consumption": {
          "format": "double",
          "description": "Förbrukning (kWh/år)",
          "type": "number"
        }
      }
    },
    "Advertising.Services.AdvertisingBidding": {
      "description": "Budgivning",
      "type": "object",
      "properties": {
        "isActive": {
          "description": "Är aktiv budgivning",
          "type": "boolean"
        },
        "isVerified": {
          "description": "Är verifierad budgivning",
          "type": "boolean"
        },
        "bids": {
          "description": "Bud",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Advertising.Services.AdvertisingBid"
          }
        }
      }
    },
    "Advertising.Services.AdvertisingMarketing": {
      "description": "Annonsering",
      "type": "object",
      "properties": {
        "isPublished": {
          "description": "Är annonserad på hemsidan",
          "type": "boolean"
        },
        "isPreview": {
          "description": "Om förhandsgranskning är aktiverad",
          "type": "boolean"
        },
        "publishedAt": {
          "format": "date-time",
          "description": "När bostaden blev publicerad på hemsidan",
          "type": "string"
        },
        "isNewHome": {
          "description": "Om bostaden ska annonseras som nyproducerad",
          "type": "boolean"
        },
        "viewing": {
          "$ref": "#/definitions/Advertising.Services.AdvertisingMarketingViewing",
          "description": "Marknadsföring av visningar"
        }
      }
    },
    "Advertising.Services.AdvertisingPledge": {
      "description": "Pantbrev",
      "type": "object",
      "properties": {
        "amount": {
          "format": "double",
          "description": "Värde",
          "type": "number"
        }
      }
    },
    "Advertising.Services.AdvertisingEnrollments": {
      "description": "Inskrivningar",
      "type": "object",
      "properties": {
        "planRegulations": {
          "description": "Planbestämmelser",
          "type": "string"
        },
        "preferentialAndCommunity": {
          "description": "Rättigheter / Gemensamhetsanläggningar",
          "type": "string"
        }
      }
    },
    "Advertising.Services.AdvertisingEstateExtensions": {
      "description": "Utökad hämtning",
      "type": "object",
      "properties": {
        "housingCooperative": {
          "$ref": "#/definitions/Advertising.Services.AdvertisingHousingCooperative",
          "description": "Utökad hämtning av bostadsrätt"
        },
        "condominium": {
          "$ref": "#/definitions/Advertising.Services.AdvertisingCondominium",
          "description": "Utökad hämtning av ägarlägenhet"
        },
        "foreignProperty": {
          "$ref": "#/definitions/Advertising.Services.AdvertisingForeignProperty",
          "description": "Utökad hämtning av utlandsobjekt"
        },
        "farm": {
          "$ref": "#/definitions/Advertising.Services.AdvertisingFarm",
          "description": "Utökad hämtning av gård"
        },
        "commercialProperty": {
          "$ref": "#/definitions/Advertising.Services.AdvertisingCommercialProperty",
          "description": "Utökad hämtning av fastighet"
        },
        "premises": {
          "$ref": "#/definitions/Advertising.Services.AdvertisingPremises",
          "description": "Utökad hämtning av lokal"
        },
        "primaryAgent": {
          "$ref": "#/definitions/Advertising.Services.AdvertisingUser",
          "description": "Utökad hämtning av huvudhandläggare"
        },
        "secondaryAgent": {
          "$ref": "#/definitions/Advertising.Services.AdvertisingUser",
          "description": "Utökad hämtning av andrahandläggare"
        }
      }
    },
    "Advertising.Services.AdvertisingEstateInspection": {
      "description": "Besiktning av bostad",
      "type": "object",
      "properties": {
        "hasBeenPerformed": {
          "description": "Förbesiktigad",
          "type": "boolean"
        }
      }
    },
    "Advertising.Services.AdvertisingEstateExpenses": {
      "description": "Utgifter",
      "type": "object",
      "properties": {
        "operation": {
          "$ref": "#/definitions/Advertising.Services.AdvertisingOperationExpenses",
          "description": "Total driftskostnad"
        }
      }
    },
    "Advertising.Services.AdvertisingZipCode": {
      "description": "Postnummer",
      "type": "object",
      "properties": {
        "numerical": {
          "format": "int32",
          "type": "integer"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "Advertising.Services.AdvertisingAddressArea": {
      "description": "Område",
      "type": "object",
      "properties": {
        "id": {
          "description": "Id",
          "type": "string"
        },
        "name": {
          "description": "Namn",
          "type": "string"
        }
      }
    },
    "Models.Api.Wgs84Coordinate": {
      "description": "Koordinater i koordinatsystemet WGS84",
      "type": "object",
      "properties": {
        "longitude": {
          "format": "double",
          "description": "Longitud",
          "type": "number"
        },
        "latitude": {
          "format": "double",
          "description": "Latitud",
          "type": "number"
        }
      }
    },
    "Advertising.Services.AdvertisingLinkCategory": {
      "description": "<p>Länkkategori</p>\r\n<p>\r\n  <a href=\"/Help/EnumerationReference?modelName=Api_LinkCategory\" target=\"_blank\">Se möjliga värden på id</a>\r\n</p>",
      "type": "object",
      "properties": {
        "id": {
          "description": "Id",
          "type": "string"
        },
        "name": {
          "description": "Namn",
          "type": "string"
        }
      }
    },
    "Advertising.Services.AdvertisingEstateTagType": {
      "description": "<p>Typ av tagg</p>\r\n<p>\r\n  <a href=\"/Help/EnumerationReference?modelName=Api_EstateTagType\" target=\"_blank\">Se möjliga värden på id</a>\r\n</p>",
      "type": "object",
      "properties": {
        "id": {
          "description": "Id",
          "type": "string"
        },
        "name": {
          "description": "Namn",
          "type": "string"
        }
      }
    },
    "Advertising.Services.AdvertisingBuildingBedrooms": {
      "description": "Sovrum",
      "type": "object",
      "properties": {
        "count": {
          "format": "double",
          "description": "Antal sovrum",
          "type": "number"
        },
        "max": {
          "format": "double",
          "description": "Kan göras om till",
          "type": "number"
        }
      }
    },
    "Models.Api.Year": {
      "description": "Årtal",
      "type": "object",
      "properties": {
        "numeric": {
          "format": "int32",
          "description": "Numeriskt årtalsvärde (1990), använd \"Text\" för att presentera årtal",
          "type": "integer"
        },
        "text": {
          "description": "Text presentation av årtalet (1990, c:a 1990 etc)",
          "type": "string"
        },
        "description": {
          "description": "Längre beskrivning av årtalet",
          "type": "string"
        }
      }
    },
    "Advertising.Services.AdvertisingBuildingVentilation": {
      "description": "Ventilation",
      "type": "object",
      "properties": {
        "type": {
          "description": "Typ",
          "type": "string"
        },
        "inspection": {
          "description": "Besiktning",
          "type": "string"
        }
      }
    },
    "Advertising.Services.AdvertisingBuildingArchitecture": {
      "description": "Byggnadsarkitektur",
      "type": "object",
      "properties": {
        "type": {
          "$ref": "#/definitions/Advertising.Services.AdvertisingBuildingArchitectureType",
          "description": "Typ"
        },
        "description": {
          "description": "Beskrivning",
          "type": "string"
        }
      }
    },
    "Advertising.Services.AdvertisingBuildingRenovation": {
      "description": "Renovering",
      "type": "object",
      "properties": {
        "description": {
          "description": "Beskrivning",
          "type": "string"
        }
      }
    },
    "Advertising.Services.AdvertisingBuildingElevator": {
      "description": "Våningar och hiss",
      "type": "object",
      "properties": {
        "description": {
          "description": "Beskrivning",
          "type": "string"
        },
        "isAvailable": {
          "description": "Om hiss är tillgänglig. OBS! null-värde innebär ej angivet",
          "type": "boolean"
        }
      }
    },
    "Advertising.Services.AdvertisingBuildingFloor": {
      "description": "Våningar",
      "type": "object",
      "properties": {
        "number": {
          "format": "double",
          "description": "Våning i byggnaden",
          "type": "number"
        },
        "total": {
          "format": "double",
          "description": "Antal våningar",
          "type": "number"
        },
        "description": {
          "description": "Beskrivning",
          "type": "string"
        }
      }
    },
    "Advertising.Services.AdvertisingBuildingService": {
      "description": "Ansluten tjänst",
      "type": "object",
      "properties": {
        "type": {
          "$ref": "#/definitions/Advertising.Services.AdvertisingBuildingServiceType",
          "description": "Typ"
        },
        "description": {
          "description": "Beskrivning",
          "type": "string"
        }
      }
    },
    "Advertising.Services.AdvertisingBuildingRoom": {
      "description": "Rum i byggnad",
      "type": "object",
      "properties": {
        "name": {
          "description": "Namn/rubrik",
          "type": "string"
        },
        "description": {
          "description": "Beskrivning",
          "type": "string"
        }
      }
    },
    "Advertising.Services.AdvertisingEnergyDeclaration": {
      "description": "Energideklaration",
      "type": "object",
      "properties": {
        "consumption": {
          "format": "double",
          "description": "Förbrukning (kWh/m² per år)",
          "type": "number"
        },
        "class": {
          "description": "Klass (A, B, C, D, E, F)",
          "type": "string"
        },
        "status": {
          "$ref": "#/definitions/Advertising.Services.AdvertisingEnergyDeclarationStatus",
          "description": "Status"
        },
        "performedAt": {
          "format": "date-time",
          "description": "När deklarationen utfördes",
          "type": "string"
        }
      }
    },
    "Advertising.Services.AdvertisingBuildingPlot": {
      "type": "object",
      "properties": {
        "description": {
          "description": "Beskrivning",
          "type": "string"
        }
      }
    },
    "Advertising.Services.AdvertisingExteriorEntry": {
      "description": "Exteriör egenskap",
      "type": "object",
      "properties": {
        "type": {
          "$ref": "#/definitions/Advertising.Services.AdvertisingExteriorType",
          "description": "Typ"
        },
        "isAvailable": {
          "description": "Om markerad som tillgänglig. Kan fortfarande finnas en beskrivning eller yta",
          "type": "boolean"
        },
        "size": {
          "format": "double",
          "description": "Yta (m²)",
          "type": "number"
        },
        "description": {
          "description": "Beskrivning",
          "type": "string"
        }
      }
    },
    "Advertising.Services.AdvertisingBuildingExpenses": {
      "description": "Byggnadsutgifter",
      "type": "object",
      "properties": {
        "operation": {
          "$ref": "#/definitions/Advertising.Services.AdvertisingOperationExpenses",
          "description": "Driftskostnader"
        }
      }
    },
    "Advertising.Services.AdvertisingBuildingArea": {
      "description": "Area-uppgifter",
      "type": "object",
      "properties": {
        "grossFloor": {
          "format": "double",
          "description": "Biarea (m²)",
          "type": "number"
        },
        "living": {
          "format": "double",
          "description": "Boarea (m²)",
          "type": "number"
        },
        "building": {
          "format": "double",
          "description": "Byggnadsyta (m²)",
          "type": "number"
        },
        "description": {
          "description": "Övrigt om yta",
          "type": "string"
        },
        "source": {
          "description": "Källa",
          "type": "string"
        }
      }
    },
    "Advertising.Services.AdvertisingExteriorPlot": {
      "type": "object",
      "properties": {
        "size": {
          "format": "double",
          "description": "Tomtarea (m²)",
          "type": "number"
        },
        "description": {
          "description": "Beskrivning",
          "type": "string"
        },
        "type": {
          "description": "Tomttyp",
          "type": "string"
        }
      }
    },
    "Advertising.Services.AdvertisingTaxationUnit": {
      "description": "Taxeringsenhet",
      "type": "object",
      "properties": {
        "code": {
          "$ref": "#/definitions/Advertising.Services.AdvertisingTaxationCode",
          "description": "Typkod"
        },
        "taxFee": {
          "format": "double",
          "description": "Skatt/avgift",
          "type": "number"
        },
        "year": {
          "format": "int32",
          "description": "Taxeringsår",
          "type": "integer"
        },
        "description": {
          "description": "Beskrivning",
          "type": "string"
        },
        "valuationUnits": {
          "description": "Värderingsenheter",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Advertising.Services.AdvertisingTaxationValuationUnit"
          }
        }
      }
    },
    "Advertising.Services.AdvertisingRecurringFee": {
      "description": "Återkommande avgift",
      "type": "object",
      "properties": {
        "value": {
          "format": "double",
          "description": "Värde",
          "type": "number"
        },
        "frequency": {
          "description": "Frekvens (månadskostnad, årlig kostnad)",
          "enum": [
            "Monthly",
            "Yearly"
          ],
          "type": "string"
        },
        "type": {
          "description": "Typ av kostnad",
          "type": "string"
        },
        "description": {
          "description": "Beskrivning",
          "type": "string"
        }
      }
    },
    "Advertising.Services.AdvertisingLeasehold": {
      "description": "Tomträtt",
      "type": "object",
      "properties": {
        "fee": {
          "format": "double",
          "description": "Avgift",
          "type": "number"
        },
        "term": {
          "format": "date-time",
          "description": "Löptid",
          "type": "string"
        }
      }
    },
    "Advertising.Services.AdvertisingLease": {
      "description": "Arrende",
      "type": "object",
      "properties": {
        "fee": {
          "format": "double",
          "description": "Avgift",
          "type": "number"
        },
        "description": {
          "description": "Beskrivning",
          "type": "string"
        },
        "term": {
          "format": "date-time",
          "description": "Löptid",
          "type": "string"
        },
        "owner": {
          "$ref": "#/definitions/Advertising.Services.AdvertisingLeaseOwner",
          "description": "Upplåtare"
        }
      }
    },
    "Models.Api.MoneyValue": {
      "description": "Valuta och värde",
      "type": "object",
      "properties": {
        "value": {
          "format": "double",
          "description": "Värde",
          "type": "number"
        },
        "currency": {
          "description": "Valuta (SEK, EURO, USD, osv)",
          "type": "string"
        }
      }
    },
    "Advertising.Services.AdvertisingBid": {
      "description": "Bud",
      "type": "object",
      "properties": {
        "placedAt": {
          "format": "date-time",
          "description": "Buddatum",
          "type": "string"
        },
        "amount": {
          "format": "int32",
          "description": "Belopp",
          "type": "integer"
        },
        "isCanceled": {
          "description": "Tillbakadraget",
          "type": "boolean"
        },
        "alias": {
          "description": "Budalias",
          "type": "string"
        }
      }
    },
    "Advertising.Services.AdvertisingMarketingViewing": {
      "description": "Marknadsföring av visningar",
      "type": "object",
      "properties": {
        "visibleLimit": {
          "format": "int32",
          "description": "Begränsa antalet synliga visningar",
          "type": "integer"
        },
        "emptyText": {
          "description": "Text som ska visas om inga visningar finns",
          "type": "string"
        }
      }
    },
    "Advertising.Services.AdvertisingHousingCooperative": {
      "type": "object",
      "properties": {
        "description": {
          "description": "Allmänt om lägenheten",
          "type": "string"
        },
        "apartmentNumber": {
          "description": "Lägenhetsnummer",
          "type": "string"
        },
        "apartmentRegistrationNumber": {
          "description": "Folkbokföringsnummer",
          "type": "string"
        },
        "association": {
          "$ref": "#/definitions/Advertising.Services.AdvertisingHousingCooperativeAssociationReference",
          "description": "Förening"
        },
        "finances": {
          "$ref": "#/definitions/Advertising.Services.AdvertisingHousingCooperativeFinances",
          "description": "Finansiell information"
        },
        "includedLand": {
          "$ref": "#/definitions/Advertising.Services.AdvertisingHousingCooperativeIncludedLand",
          "description": "Upplåten mark"
        }
      }
    },
    "Advertising.Services.AdvertisingCondominium": {
      "description": "Ägarlägenhet",
      "type": "object",
      "properties": {
        "apartmentRegistrationNumber": {
          "description": "Folkbokföringsnummer",
          "type": "string"
        }
      }
    },
    "Advertising.Services.AdvertisingForeignProperty": {
      "description": "Utlandsobjekt",
      "type": "object",
      "properties": {
        "externalReferenceNumber": {
          "description": "Externt referensnummer",
          "type": "string"
        },
        "address": {
          "$ref": "#/definitions/Advertising.Services.AdvertisingForeignPropertyAddress",
          "description": "Extra adressuppgifter för utlandsbostäder"
        },
        "distances": {
          "description": "Distanser",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Advertising.Services.AdvertisingForeignPropertyDistance"
          }
        },
        "localizations": {
          "description": "Säljande texter",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Advertising.Services.AdvertisingLocalization"
          }
        }
      }
    },
    "Advertising.Services.AdvertisingFarm": {
      "description": "Gård",
      "type": "object",
      "properties": {
        "numberOfPartitions": {
          "format": "int32",
          "description": "Antal skiften",
          "type": "integer"
        },
        "jointlyTaxedProperties": {
          "description": "Samtaxerade fastigheter",
          "type": "string"
        },
        "agriculturalFocus": {
          "description": "Inriktning",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Advertising.Services.AdvertisingFarmAgriculturalFocus"
          }
        },
        "acreage": {
          "$ref": "#/definitions/Advertising.Services.AdvertisingFarmAcreage",
          "description": "Areal"
        },
        "economyBuildings": {
          "description": "Ekonomibyggnader",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Advertising.Services.AdvertisingFarmEconomyBuilding"
          }
        },
        "lands": {
          "description": "Mark",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Advertising.Services.AdvertisingFarmLand"
          }
        },
        "otherData": {
          "description": "Övriga uppgifter",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Advertising.Services.AdvertisingFarmOtherData"
          }
        }
      }
    },
    "Advertising.Services.AdvertisingCommercialProperty": {
      "description": "Fastighet",
      "type": "object",
      "properties": {
        "compilationArea": {
          "$ref": "#/definitions/Advertising.Services.AdvertisingCommercialPropertyCompilationArea",
          "description": "Ytor"
        },
        "business": {
          "$ref": "#/definitions/Advertising.Services.AdvertisingCommercialPropertyBusiness",
          "description": "Rörelse"
        },
        "technicalData": {
          "$ref": "#/definitions/Advertising.Services.AdvertisingCommercialPropertyTechnicalData",
          "description": "Teknisk data"
        },
        "sharedSpaces": {
          "$ref": "#/definitions/Advertising.Services.AdvertisingCommercialPropertySharedSpaces",
          "description": "Delade utrymmen"
        },
        "renovationPlan": {
          "$ref": "#/definitions/Advertising.Services.AdvertisingCommercialPropertyRenovationPlan",
          "description": "Renoveringsbehov"
        },
        "offer": {
          "$ref": "#/definitions/Advertising.Services.AdvertisingCommercialPropertyOffer",
          "description": "Anbud"
        }
      }
    },
    "Advertising.Services.AdvertisingPremises": {
      "description": "Lokal",
      "type": "object",
      "properties": {
        "technicalData": {
          "$ref": "#/definitions/Advertising.Services.AdvertisingPremisesTechnicalData",
          "description": "Teknisk information"
        },
        "focusOn": {
          "description": "Inriktning",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Advertising.Services.AdvertisingPremisesFocusOn"
          }
        },
        "compilationArea": {
          "$ref": "#/definitions/Advertising.Services.AdvertisingPremisesCompilationArea",
          "description": "Ytor"
        }
      }
    },
    "Advertising.Services.AdvertisingUser": {
      "description": "Användare",
      "type": "object",
      "properties": {
        "id": {
          "description": "Id",
          "type": "string"
        },
        "name": {
          "description": "Namn",
          "type": "string"
        },
        "title": {
          "description": "Titel",
          "type": "string"
        },
        "category": {
          "description": "Kategori",
          "type": "string"
        },
        "emailAddress": {
          "description": "E-postadress",
          "type": "string"
        },
        "description": {
          "description": "Beskrivning",
          "type": "string"
        },
        "spokenLanguages": {
          "description": "Talade språk",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "changedAt": {
          "format": "date-time",
          "description": "När mäklaren senast ändrades",
          "type": "string"
        },
        "telephone": {
          "$ref": "#/definitions/Advertising.Services.AdvertisingUserTelephoneNumbers",
          "description": "Telefonnummer"
        },
        "image": {
          "$ref": "#/definitions/Advertising.Services.AdvertisingImage",
          "description": "Bild"
        },
        "isVisibleInStaffList": {
          "description": "Om användaren ska visas i personallistan",
          "type": "boolean"
        },
        "offices": {
          "description": "Användarens tillhörighet till kontor",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Advertising.Services.AdvertisingUserOffice"
          }
        },
        "reviews": {
          "description": "Kundomdömen, senaste först",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Advertising.Services.AdvertisingUserReview"
          }
        }
      }
    },
    "Advertising.Services.AdvertisingOperationExpenses": {
      "description": "Driftskostnad",
      "type": "object",
      "properties": {
        "sum": {
          "format": "double",
          "description": "Summa driftskostnader per år",
          "type": "number"
        },
        "householdSize": {
          "format": "int32",
          "description": "Antal personer i hushållet som driftkostnaderna baseras på",
          "type": "integer"
        },
        "entries": {
          "description": "Driftkostnader",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Advertising.Services.AdvertisingOperationExpenseEntry"
          }
        },
        "description": {
          "description": "Beskrivning",
          "type": "string"
        }
      }
    },
    "Advertising.Services.AdvertisingBuildingArchitectureType": {
      "description": "<p>Typ av arkitekturegenskap</p>\r\n<p>\r\n  <a href=\"/Help/EnumerationReference?modelName=Api_ArchitectureType\" target=\"_blank\">Se möjliga värden på id</a>\r\n</p>",
      "type": "object",
      "properties": {
        "id": {
          "description": "Id",
          "type": "string"
        },
        "name": {
          "description": "Namn",
          "type": "string"
        }
      }
    },
    "Advertising.Services.AdvertisingBuildingServiceType": {
      "description": "<p>Typ av ansluten tjänst</p>\r\n<p>\r\n  <a href=\"/Help/EnumerationReference?modelName=Api_BuildingServiceType\" target=\"_blank\">Se möjliga värden på id</a>\r\n</p>",
      "type": "object",
      "properties": {
        "id": {
          "description": "Id",
          "type": "string"
        },
        "name": {
          "description": "Namn",
          "type": "string"
        }
      }
    },
    "Advertising.Services.AdvertisingEnergyDeclarationStatus": {
      "description": "<p>Energideklarationsstatus</p>\r\n<p>\r\n  <a href=\"/Help/EnumerationReference?modelName=Api_EnergyDeclarationStatus\" target=\"_blank\">Se möjliga värden</a>\r\n</p>",
      "type": "object",
      "properties": {
        "id": {
          "description": "Id",
          "type": "string"
        },
        "name": {
          "description": "Namn",
          "type": "string"
        }
      }
    },
    "Advertising.Services.AdvertisingExteriorType": {
      "description": "<p>Typ av exteriör</p>\r\n<p>\r\n  <a href=\"/Help/EnumerationReference?modelName=Api_ExteriorType\" target=\"_blank\">Se möjliga värden på id</a>\r\n</p>",
      "type": "object",
      "properties": {
        "id": {
          "description": "Id",
          "type": "string"
        },
        "name": {
          "description": "Namn",
          "type": "string"
        }
      }
    },
    "Advertising.Services.AdvertisingTaxationCode": {
      "description": "Taxeringskod",
      "type": "object",
      "properties": {
        "id": {
          "description": "Id",
          "type": "string"
        },
        "name": {
          "description": "Namn",
          "type": "string"
        }
      }
    },
    "Advertising.Services.AdvertisingTaxationValuationUnit": {
      "description": "Värderingsenhet",
      "type": "object",
      "properties": {
        "unit": {
          "$ref": "#/definitions/Advertising.Services.AdvertisingValuationUnit",
          "description": "Värderingsenhet"
        },
        "value": {
          "format": "double",
          "description": "Taxeringsvärde",
          "type": "number"
        },
        "year": {
          "format": "int32",
          "description": "Värdeår",
          "type": "integer"
        }
      }
    },
    "Advertising.Services.AdvertisingLeaseOwner": {
      "description": "Upplåtare",
      "type": "object",
      "properties": {
        "name": {
          "description": "Namn",
          "type": "string"
        }
      }
    },
    "Advertising.Services.AdvertisingHousingCooperativeAssociationReference": {
      "description": "Förening",
      "type": "object",
      "properties": {
        "id": {
          "description": "Id på föreningen",
          "type": "string"
        },
        "overrideDescription": {
          "$ref": "#/definitions/Association.Models.AssociationDescriptions",
          "description": "Ersätt föreningens beskrivningstexter"
        },
        "overrideEconomy": {
          "$ref": "#/definitions/Association.Models.AssociationEconomy",
          "description": "Ersätt föreningens ekonomi"
        }
      }
    },
    "Advertising.Services.AdvertisingHousingCooperativeFinances": {
      "type": "object",
      "properties": {
        "isPledged": {
          "description": "Om bostadsrätten är pantsatt",
          "type": "boolean"
        },
        "indirectNetDebt": {
          "format": "double",
          "description": "Indirekt nettoskuldsättning (andel av gemensam skuld)",
          "type": "number"
        },
        "repairFundBalance": {
          "format": "double",
          "description": "Reparationsfond",
          "type": "number"
        },
        "annualFeeShare": {
          "format": "double",
          "description": "Andel av årsavgiften",
          "type": "number"
        },
        "indirectNetDebtComment": {
          "description": "Kommentar för indirekt nettoskuldsättning (andel av gemensam skuld)",
          "type": "string"
        },
        "sharesComment": {
          "description": "Kommentar till andelstal",
          "type": "string"
        },
        "shares": {
          "format": "double",
          "description": "Andelstal",
          "type": "number"
        }
      }
    },
    "Advertising.Services.AdvertisingHousingCooperativeIncludedLand": {
      "description": "Upplåten mark",
      "type": "object",
      "properties": {
        "size": {
          "format": "double",
          "description": "Storlek (m²)",
          "type": "number"
        },
        "description": {
          "description": "Beskrivning",
          "type": "string"
        }
      }
    },
    "Advertising.Services.AdvertisingForeignPropertyAddress": {
      "description": "Extra adressuppgifter för utlandsbostäder",
      "type": "object",
      "properties": {
        "city": {
          "description": "Stad",
          "type": "string"
        },
        "province": {
          "description": "Provins",
          "type": "string"
        }
      }
    },
    "Advertising.Services.AdvertisingForeignPropertyDistance": {
      "description": "Distanser",
      "type": "object",
      "properties": {
        "type": {
          "$ref": "#/definitions/Advertising.Services.AdvertisingForeignPropertyDistanceType",
          "description": "Typ"
        },
        "meters": {
          "format": "int32",
          "description": "Antal meter",
          "type": "integer"
        }
      }
    },
    "Advertising.Services.AdvertisingLocalization": {
      "description": "Säljande texter",
      "type": "object",
      "properties": {
        "language": {
          "description": "Språk",
          "type": "string"
        },
        "shortSaleDescription": {
          "description": "Kort säljande beskrivning",
          "type": "string"
        },
        "saleDescription": {
[...]
